#image-food {
  top:0;
  bottom:0;
  left:0;
  right: 0;
  position : absolute;
}




.container {
  position: relative;
  width: 1000px;
  height: 700px;
  margin-top: 100px;

  #myForm {
    border :3px solid black;
    width:400px;
    margin-right: 35%;
    margin-left: 45%;
    margin-top: 50px;
    position: absolute;
    z-index: 10;
    left:0;
    top:0;
    background-color: white;

    #new_restaurant-name {
      width: 200px;
      margin-left: 30px;
    }

    #new_restaurant-link {
      width: 300px;
      margin-left: 30px;

    }

    #new_restaurant-rate{
      width: 100px;
      margin-left: 30px;
    }

    h2,h3 {
      margin-left:30px;
    }

    #error-message {
      color:red;
      font-size:20px;
      margin-left: 50px;
    }

    #submit-button {
      margin-bottom: 30px;
      margin-left:30px;
    }
  }


}



