

.mainImage {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    margin-top: -170px;
  }
}


.mainTitle {
  font-family: cursive;
  font-size: 50px;
  color: red;
  float: none;
  margin-left: 200px;
}

.mainTitleRemark {
  @extend .mainTitle;

  font-size: 15px;
  color: black;
}

.filter {
  display:inline-block;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom:50px;
}

#newRest {
  margin: 30px;
  margin-top: 50px;
  font-size: 20px;
  font-family: cursive;
}